Body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
    
h1{
    font-size: 50px;
}
.a{
    color: orange;
}
.flexible-container {
    display: flex;
    margin-bottom: 170px;
    padding-left: 5%;
}
.half-width{
    width: 50%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width image{
    width: 70%;
    padding-top: 2%;
}
.images{
    max-width: 80%;
    padding-top: 2%;
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-phara{
    padding-right: 20%;
}
.half-width.extra-margin {
    margin-left: -14%;
}
.Experiences-item{
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: 10px 10px 50px gray;
    
    
}
.Experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    

}
#full-stack-area{
    margin-left: 30px;
    padding-left: 40px;
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#baby-web-area{
    border-left: 5px solid;
    padding-left: 40px;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    
}

footer{
    text-align: center;
    margin-bottom: 10px;
}